.nameLeague {
  font-size: 28px;
  color: #2c2c2e;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
}

.titleBarChart {
  text-align: center;
  font-size: 22px;
  color: #2c2c2e;
  padding: 10px 0;
}
